<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Statens wikibidrag</title>
        <link>https://statenswikibidrag.stilk.tf</link>
        <description>Nettside som henter bidrag fra statlige IP-adresser p책 Wikipedia. I RSS f책r du de siste 5 bidragene.</description>
        {% for contribution in contributions|sort((b, a) => b.date < a.date)|slice(0,5)|sort((a, b) => b.date < a.date) %}
            <item>
                <title>Bidrag fra {{ contribution.body }} p책 artikkel {{ contribution.title }}</title>
                <link>{{ contribution.link }}</link>
                <description>
                    Et bidrag ble gjort {{ contribution.date|date }} av {{ contribution.body }} p책 artikkelen {{ contribution.title }}, med kommentar "{{ contribution.comment }}".
                    Wikipedia: {{ contribution.wiki }}
                    Lenke: {{ contribution.link }}
                </description>
            </item>
        {% endfor %}
    </channel>
</rss>